header {
  width: 70%;
  margin: 0 auto;
  height: 800px;
}
.nav-panel {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 250px;
  height: 100px;
  font-family: 'Inconsolata-Regular';
}

.nav {
  width: 650px;
  height: 100px;
}
.nav-list {
  display: flex;
  list-style-type: none;
}
.nav-item {
  padding-left: 80px;
}
.top-bg {
  width: 100%;
  height: 670px;
  background-image: url('../assets/img/top-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
