header {
  width: 90%;
  margin: 0 auto;
}

.nav-panel {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 250px;
  height: 100px;
  font-family: 'Inconsolata-Regular';
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: left;
  padding-top: 40px;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.nav {
  width: 650px;
  height: 100px;
}

.nav-list {
  display: flex;
  list-style-type: none;
}
.nav-item {
  padding-left: 80px;
  padding-top: 50px;
  font-family: 'PlayfairDisplay-Regular';
  font-size: 18px;
}
.nav-item a {
  text-decoration: none;
  color: inherit;
}

.top-bg {
  width: 100%;
  height: 900px;
  background-image: url('../assets/img/top-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
